
<!-- Main Template -->
<script type="text/template" id="main">

    <div data-role="header" data-position="fixed" data-disable-page-zoom="false">
        <h1><%=title%></h1>
    </div>

    <div class="vpad" data-role="content">
        <div class="postimg" style="background-image:url('<%=imageurl%>');" ></div>
        <div class="posttext" ><%=text%></div>
    </div>

</script>

<!-- Listings Template -->
<script type="text/template" id="listings">

    <div data-role="header" data-position="fixed" data-disable-page-zoom="false">
        <h1><%=title%></h1>
    </div>

    <div class="vpad" data-role="content">
        <ul class="form-list" data-role="listview"></ul>
    </div>

</script>
